<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="54f53336-4797-4675-bf35-1fe700282f80" name="Project 7 Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="54f53336-4797-4675-bf35-1fe700282f80fileName">Project-7-Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
